<?xml version="1.0"?>
<robot name="diff_drive_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find my_robot_description)/urdf/robot_properties.xacro" />

  <xacro:include filename="$(find my_robot_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find my_robot_description)/urdf/base_body.xacro" />
  <xacro:include filename="$(find my_robot_description)/urdf/drive_wheel.xacro" />

  <xacro:include filename="$(find my_robot_description)/urdf/caster_wheel.xacro" />

  <xacro:include filename="$(find my_robot_description)/urdf/sensor_camera.xacro" />

  <xacro:include filename="$(find my_robot_description)/urdf/sensor_lidar.xacro" />

  <xacro:include filename="$(find my_robot_description)/urdf/gazebo_plugin.xacro" />
</robot>